<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Review</title>
    <link rel="stylesheet" href="/static/add-review.css">
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Add Review</h1>
    
    <!-- Error Message -->
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <label>Movie:</label><br>
        <select name="movie_id" required>
            <option value="" disabled selected>Select a movie</option>
            {% for movie in movies %}
                <option value="{{ movie[0] }}">{{ movie[1] }}</option>
            {% endfor %}
        </select><br>
        
        <label>Review:</label><br>
        <textarea name="review" required></textarea><br>
        
        <label>Rating (1.0 - 5.0):</label><br>
        <input style = "margin-bottom: 15px; padding-top: 0px;" type="number" name="rating" step="0.1" min="1.0" max="5.0" required><br>
        
        <button type="submit">Add Review</button>
    </form>
    {% endblock %}
</body>
</html>
