<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourite Actors</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <h1>Your Favorite Actors</h1>
    {% if actors %}
        <div class="actors-container">
            <div class="actors-grid">
                {% for actor in actors %}
                <div class="actor-card">
                    <div class="actor-image">
                        {% if actor.img_url %}
                            <img src="{{ actor.img_url }}" alt="{{ actor.name }}">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    </div>
                    
                </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>You have no favorite actors yet.</p>
    {% endif %}
    {% endblock %}
</body>
</html>
